absl-py==0.11.0
appdirs==1.4.3
astunparse==1.6.3
beautifulsoup4==4.8.2
blis==0.4.1
bs4==0.0.1
cachetools==4.2.0
catalogue==1.0.0
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cycler==0.10.0
cymem==2.0.3
distlib==0.3.0
filelock==3.0.12
fire==0.3.1
flatbuffers==1.12
gast==0.3.3
google-api-core==1.26.1
google-api-python-client==2.0.2
google-auth==1.24.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.2
google-cloud==0.34.0
google-cloud-bigquery==2.11.0
google-cloud-core==1.6.0
google-cloud-language==2.0.0
google-cloud-storage==1.36.2
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
gpt-2-simple==0.7.1
grpcio==1.32.0
h5py==2.10.0
httplib2==0.19.0
idna==2.9
importlib-metadata==1.5.0
joblib==1.0.0
Keras-Preprocessing==1.1.2
keras2onnx==1.7.0
kiwisolver==1.1.0
libcst==0.3.17
Markdown==3.3.3
matplotlib==3.1.3
murmurhash==1.0.2
mypy-extensions==0.4.3
nlglib==0.2.1
nltk==3.4.5
numpy==1.19.5
oauthlib==3.1.0
onnx==1.8.0
onnxconverter-common==1.7.0
opt-einsum==3.3.0
packaging==20.8
pandas==1.1.0
Pillow==8.1.0
pipenv==2018.11.26
plac==1.1.3
preshed==3.0.2
proto-plus==1.16.0
protobuf==3.14.0
py-rouge==1.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.4.1
regex==2020.7.14
requests==2.23.0
requests-oauthlib==1.3.0
rouge-score==0.0.4
rsa==4.6
sacremoses==0.0.43
simplenlg==0.2.0
six==1.15.0
soupsieve==2.0
spacy==2.2.4
srsly==1.0.2
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow-cpu==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
thinc==7.4.0
tokenizers==0.9.4
toposort==1.5
tqdm==4.46.1
transformers==4.1.1
typing-extensions==3.7.4.3
typing-inspect==0.6.0
uritemplate==3.0.1
urllib3==1.25.9
v==0.0.0
virtualenv==20.0.7
virtualenv-clone==0.5.3
wasabi==0.6.0
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.0.0
